@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: local('Open Sans Light Italic'), local('OpenSans-LightItalic'), url(https://fonts.gstatic.com/s/opensans/v17/memnYaGs126MiZpBA-UFUKWyV9hvIqY.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(https://fonts.gstatic.com/s/opensans/v17/mem6YaGs126MiZpBA-UFUK0ddcg.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'), url(https://fonts.gstatic.com/s/opensans/v17/memnYaGs126MiZpBA-UFUKXGUdhvIqY.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(https://fonts.gstatic.com/s/opensans/v17/memnYaGs126MiZpBA-UFUKWiUNhvIqY.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: local('Open Sans ExtraBold Italic'), local('OpenSans-ExtraBoldItalic'), url(https://fonts.gstatic.com/s/opensans/v17/memnYaGs126MiZpBA-UFUKW-U9hvIqY.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN_r8OVuhs.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v17/mem8YaGs126MiZpBA-UFUZ0e.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UNirkOVuhs.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN7rgOVuhs.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'), url(https://fonts.gstatic.com/s/opensans/v17/mem5YaGs126MiZpBA-UN8rsOVuhs.ttf) format('truetype');
}
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
}
body {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  min-height: 100vh;
}
a {
  color: #398c6d;
}
button {
  cursor: pointer;
}
.btn__small__border {
  padding: 5px 12px;
  font-size: 11px;
  border-radius: 5px;
  border: none;
  background-color: #398c6d;
  color: white;
  font-weight: 400;
}
.btn__small__border:hover {
  background-color: #1c5741;
}
.container {
  max-width: 1298px;
  padding: 0 30px;
  margin: 0 auto;
}
.head {
  padding: 7px 0;
}
.head * {
  font-size: 12px;
}
.head .container {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
}
.head__city {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}
.head__city__label {
  color: #423e3e;
}
.head__city__name {
  font-weight: bold;
  text-decoration: underline;
  margin-left: 5px;
}
.head__loc {
  font-weight: 400;
}
.head__email {
  font-weight: 400;
  color: black;
}
.head__phone {
  font-size: 18px;
  font-weight: 700;
}
.navbar {
  background-color: #398c6d;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 3;
}
.navbar .container {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  position: relative;
}
.navbar__links {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  list-style: none;
  margin-left: auto;
  height: 100%;
}
.navbar__links a {
  color: white;
  padding: 28px 30px;
  font-size: 14px;
  font-weight: 400;
  line-height: 0;
}
.navbar__links a:hover {
  background-color: #1c5741;
}
.navbar__logo {
  background-color: white;
  display: inline-block;
  padding: 6px 26px 8px 26px;
  position: absolute;
  top: 0;
  left: 30px;
  border-radius: 0 0 2px 2px;
}
.navbar__search {
  border: none;
  padding: 17px 30px;
  background-color: #398c6d;
}
.navbar__search:hover {
  background-color: #1c5741;
}
.navbar__search img {
  width: 18px;
  height: auto;
  margin-bottom: -3px;
}
.hero {
  background-image: url(../img/hero__bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 41px 0;
}
.hero .container {
  display: grid;
  grid-template-columns: auto 406px;
  grid-gap: 26px;
}
.hero * {
  color: white;
}
.hero__text {
  align-self: center;
}
.hero__text .btn__big__shadow {
  margin-top: 33px;
}
.hero__img {
  align-self: center;
}
.hero__title {
  font-size: 48px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  line-height: 56px;
  margin-top: -30px;
}
.hero__desc {
  margin-top: 20px;
  font-size: 18px;
  font-weight: 400;
}
.btn__big__shadow {
  color: white;
  padding: 17px 34px;
  background-color: #398c6d;
  border: none;
  border-radius: 10px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  box-shadow: 0 5px 0 0 #2c7258;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
.btn__big__shadow:active {
  box-shadow: 0 0px 0 0 #2c7258;
  -webkit-transform: translateY(5px);
      -ms-transform: translateY(5px);
          transform: translateY(5px);
  background-color: #2c7258;
}
.section-title {
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: #398c6d;
}
.about__as {
  padding: 49px 0;
  padding-bottom: 62px;
}
.about__as__imgblock {
  margin-top: 31px;
  display: grid;
  grid-template-columns: 5fr 7fr;
  min-height: 315px;
}
.about__as__imgblock__img {
  background-image: url(../img/about_as_imgblock.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.about__as__imgblock__text {
  padding: 28px 46px;
  color: white;
  background-color: #398c6d;
  position: relative;
  overflow: hidden;
  background-image: url(../img/about_as_text_bg.png);
  background-repeat: no-repeat;
  background-position: right bottom;
}
.about__as__imgblock__title {
  font-size: 20px;
  font-weight: 700;
  position: relative;
}
.about__as__imgblock__desc {
  margin-top: 14px;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  position: relative;
}
.about__as__txtblock {
  margin-top: 38px;
}
.about__as__txtblock__title {
  font-size: 20px;
  font-weight: 700;
  color: #398c6d;
}
.about__as__txtblock__list {
  margin-top: 15px;
}
.about__as__txtblock__list {
  counter-reset: li;
}
.about__as__txtblock__list li {
  list-style-type: none;
  position: relative;
  padding-left: 16px;
  line-height: 26px;
}
.about__as__txtblock__list li:before {
  content: counter(li);
  counter-increment: li;
  color: #398c6d;
  font-weight: 700;
  position: absolute;
  left: -2px;
  top: 0;
}
.about__as__logos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(-webkit-max-content, 0));
  grid-template-columns: repeat(auto-fill, minmax(max-content, 0));
  grid-gap: 36px;
  margin-top: 24px;
}
.plus {
  padding: 60px 0;
  background-image: url(../img/plus.jpg);
  padding-bottom: 81px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.plus .section-title {
  color: white;
}
.plus__items {
  margin-top: 43px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
.plus__item {
  background-color: #fff;
  padding: 30px 20px;
  width: 100%;
}
.plus__item__img {
  height: 40px;
  width: auto;
}
.plus__item__title {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 5px;
}
.plus__item__desc {
  font-size: 14px;
  font-weight: 300;
  margin-top: 4px;
  line-height: 20px;
}
.steps {
  padding: 64px 0;
}
.steps__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 30px;
  grid-gap: 20px;
  grid-row-gap: 0;
}
.steps__item {
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 18px 10px;
}
.steps__item__num {
  font-size: 96px;
  font-weight: 300;
  color: #398c6d;
  margin-top: -26px;
  text-align: center;
}
.steps__item__title {
  font-size: 24px;
  font-weight: 700;
}
.steps__item__desc {
  font-size: 16px;
  font-weight: 300;
  margin-top: 6px;
}
.prices {
  padding: 82px 0;
  background: url(../img/prices__bg__left-1.png) 0% 45%, url(../img/prices__bg__left-2.png) bottom left, url(../img/prices__bg__right-1.png) top right, url(../img/prices__bg__right-2.png) right 80%, #e9f2eb;
  background-repeat: no-repeat;
}
.prices .btn__noborderradius {
  margin: 0 auto;
  max-width: 230px;
  margin-top: 67px;
}
.sertificates {
  padding: 60px 0;
  background: url(../img/prices__bg__left-1.png) 0% 45%, url(../img/prices__bg__left-2.png) bottom left, url(../img/prices__bg__right-1.png) top right, url(../img/prices__bg__right-2.png) right 80%, #e9f2eb;
  background-repeat: no-repeat;
}
.section-desc {
  margin-top: 19px;
}
.section-desc.green {
  color: #398c6d;
  font-weight: 400;
}
.prices__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-gap: 20px;
  grid-row-gap: 18px;
  margin-top: 32px;
}
.prices__items.sertificates__items {
  margin-top: 46px;
}
.prices__item {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 30px;
  padding-bottom: 41px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: end;
          justify-content: flex-end;
}
.prices__item .btn__noborderradius {
  max-width: 180px;
  width: 180px;
  margin-top: 15px;
}
.prices__item__title {
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  text-align: center;
  color: white;
  line-height: 1.2;
  margin-bottom: auto;
}
.prices__item__desc {
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  color: white;
  margin-top: 11px;
}
.prices__item__price {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: white;
  margin-top: 5px;
}
.btn__noborderradius {
  border: none;
  padding: 11px 20px;
  display: block;
  background-color: #398c6d;
  font-weight: 700;
  color: white;
  text-align: center;
  text-transform: uppercase;
  box-shadow: 0 6px 16px 4px rgba(9, 173, 112, 0.2);
  cursor: pointer;
}
.btn__noborderradius:hover {
  background-color: #1c5741;
  box-shadow: none;
}
.prices__item__btn {
  padding: 11px 20px;
  display: block;
  background-color: #398c6d;
  color: white;
  text-align: center;
  text-transform: uppercase;
  max-width: 180px;
  width: 180px;
  margin: 0 auto;
  margin-top: 15px;
  box-shadow: 0 6px 16px 4px rgba(9, 173, 112, 0.2);
}
.prices__btn {
  padding: 13px 20px;
  display: block;
  background-color: #398c6d;
  color: white;
  text-align: center;
  text-transform: uppercase;
  max-width: 230px;
  width: 230px;
  margin: 0 auto;
  margin-top: 67px;
  box-shadow: 0 6px 16px 4px rgba(9, 173, 112, 0.2);
  cursor: pointer;
}
.contacts {
  padding: 60px 0;
  background-image: url(../img/plus.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.contacts .section-title {
  color: white;
  line-height: 1.3;
}
.contacts__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(390px, 1fr));
  grid-gap: 20px;
  margin-top: 27px;
}
.contacts__item {
  padding: 24px 27px;
}
.contacts__item.black {
  background: rgba(0, 0, 0, 0.7);
}
.contacts__item.black * {
  color: white;
}
.contacts__item.black .contacts__item__title {
  color: white;
}
.contacts__item.white {
  background-color: #fff;
}
.contacts__item.white .contacts__item__desc {
  margin-top: 7px;
}
.contacts__item .btn__noborderradius {
  font-size: 14px;
  margin-top: 17px;
  display: inline-block;
  text-transform: none;
}
.contacts__item__title {
  font-size: 24px;
  font-weight: 900;
  line-height: 30px;
  text-transform: uppercase;
}
.contacts__item__desc {
  margin-top: 5px;
  line-height: 18px;
  font-size: 14px;
}
.contacts__item__desc.strong {
  font-weight: 700;
}
.contacts__item__btn {
  padding: 9px 23px;
  background-color: #398c6d;
  display: inline-block;
  font-size: 14px;
  margin-top: 17px;
  color: white;
  cursor: pointer;
}
.contacts__item__phone {
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  display: block;
  margin-top: 10px;
}
.reviews {
  padding: 68px 0;
  padding-bottom: 97px;
}
.reviews .section-title {
  text-align: center;
}
.reviews__slider {
  max-width: 1022px;
  margin: 0 auto;
  margin-top: 43px;
  position: relative;
}
.reviews__slider .owl-dots {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  position: absolute;
  bottom: 34px;
  left: 350px;
}
.reviews__slider .owl-nav button.owl-prev {
  position: absolute;
  top: 50%;
  left: -86px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.reviews__slider .owl-nav button.owl-next {
  position: absolute;
  top: 50%;
  right: -86px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.reviews__slider button.owl-dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #cee5d9;
  margin-right: 5px;
}
.reviews__slider button.owl-dot.active {
  background-color: #398c6d;
}
.reviews__slider__item {
  display: grid;
  grid-template-columns: 3fr 7fr;
  grid-gap: 60px;
}
.reviews__slider__item img {
  width: 100%;
  border: 14px solid #398c6d;
}
.reviews__slider__item__text {
  align-self: end;
  padding-bottom: 63px;
}
.reviews__slider__item__desc {
  line-height: 26px;
  margin-top: 14px;
}
.reviews__slider__item__desc.green {
  color: #398c6d;
  font-weight: 700;
}
.reviews__slider__item__title {
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
}
.faq {
  padding: 72px 0;
  background: url(../img/faq_bg_left.png) left bottom, url(../img/faq_bg_right.png) right top, #e9f2eb;
  background-repeat: no-repeat;
}
.faq__accordion {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 17px;
}
.faq__accordion__item {
  box-shadow: 7px -1px 16px 6px rgba(57, 140, 109, 0.07);
}
.faq__accordion__link {
  background-color: #398c6d;
  font-weight: 700;
  color: #fefefe;
  padding: 18px 26px;
  cursor: pointer;
  background: url(../img/faq_accordion_left.png) left center, url(../img/faq_accordion_right.png) right center, #398c6d;
  background-repeat: no-repeat;
  position: relative;
}
.faq__accordion__link__title {
  font-size: 22px;
}
.faq__accordion__link__arrow {
  width: 18px;
  height: 11px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-image: url(../img/faq_arrow_bottom.png);
  position: absolute;
  right: 26px;
  top: 28px;
}
.faq__accordion__link__arrow.active {
  background-image: url(../img/faq_arrow_top.png);
}
.faq__accordion__content {
  padding: 19px 24px;
  background-color: white;
  line-height: 28px;
}
.formblock {
  background-image: url(../img/plus.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 56px;
  padding-bottom: 45px;
}
.formblock .section-title {
  color: white;
}
.formblock.nop {
  padding: 0;
}
.formblock.nop .formblock__main {
  background: none;
  padding: 45px 0;
  padding-right: 383px;
}
.formblock.nop .formblock__main__title {
  color: white;
  text-transform: uppercase;
}
.formblock.nop .formblock__main__form__item input {
  background: none;
  border: 2px solid #ffffff;
  color: white;
}
.formblock.nop .formblock__main__form__item label {
  color: white;
}
.formblock.nop .formblock__main__politics {
  color: white;
  font-style: italic;
  font-weight: 300;
}
.formblock.nop .formblock__main__politics a {
  color: white;
}
.formblock.nop .formblock__main__form__btn button {
  padding: 12.5px 22px;
}
.formblock__main {
  background-color: white;
  padding: 22px 30px;
  margin-top: 30px;
  padding-right: 383px;
  position: relative;
  padding-bottom: 30px;
}
.page__formblock__main__img__wrapper {
  width: 356px;
  position: absolute;
  right: 0;
  bottom: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: end;
          align-items: flex-end;
  -webkit-box-pack: center;
          justify-content: center;
  padding-bottom: 10px;
}
.page__formblock__main__img__wrapper.nop {
  padding-bottom: 0;
  -webkit-box-pack: end;
          justify-content: flex-end;
}
.formblock__main__title {
  font-size: 26px;
  font-weight: 700;
  line-height: 34px;
  color: #398c6d;
}
.formblock__main__desc {
  margin-top: 5px;
}
.formblock__main__form {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(288px, 0));
  grid-gap: 14px;
  margin-top: 16px;
}
.formblock__main__form__btn {
  justify-self: start;
  align-self: end;
}
.formblock__main__form__btn button {
  font-size: 13px;
  font-weight: 700;
  padding: 11px 22px;
  min-width: 190px;
  text-transform: uppercase;
  background-color: #398c6d;
  color: white;
  border: none;
  box-shadow: 0 6px 16px 4px rgba(9, 173, 112, 0.2);
}
.formblock__main__form__item {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  align-self: end;
}
.formblock__main__form__item input {
  font-size: 14px;
  padding: 10px 12px;
  margin-top: 3px;
  border: 1px solid #85baa6;
  /* Firefox 19+ */
  /* Firefox 18- */
}
.formblock__main__form__item input::-webkit-input-placeholder {
  font-style: italic;
  color: #ccdcd6;
}
.formblock__main__form__item input::-moz-placeholder {
  font-style: italic;
  color: #ccdcd6;
}
.formblock__main__form__item input:-moz-placeholder {
  font-style: italic;
  color: #ccdcd6;
}
.formblock__main__form__item input:-ms-input-placeholder {
  font-style: italic;
  color: #ccdcd6;
}
.formblock__main__form__item label {
  font-size: 12px;
  font-weight: 400;
  color: #949494;
  padding-left: 10px;
}
.formblock__main__politics {
  font-size: 12px;
  font-weight: 400;
  margin-top: 13px;
}
.formblock__main__politics a {
  text-decoration: underline;
  font-size: 12px;
  font-weight: 400;
}
.footer {
  background-color: #13221d;
  padding-top: 20px;
}
.footer__top {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
          justify-content: space-between;
}
.footer__top * {
  color: white;
  list-style-type: none;
}
.footer__list ul {
  margin-top: 8px;
}
.footer__list li {
  margin-bottom: 10px;
  font-size: 12px;
}
.footer__list li a {
  font-size: 12px;
}
.footer__list__title {
  font-size: 16px;
  font-weight: 700;
}
.footer__contacts {
  padding-left: 20px;
}
.footer__contacts li {
  position: relative;
}
.footer__contacts li:before {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  top: 5px;
  left: -20px;
}
.footer__contacts__loc:before {
  background-image: url(../img/loc.svg);
}
.footer__contacts__mail:before {
  background-image: url(../img/mail.svg);
}
.footer__phoneblock {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}
.footer__phoneblock .btn__small__border {
  margin-top: 6px;
  box-shadow: 0 6px 16px 4px rgba(9, 173, 112, 0.2);
}
.footer__phone {
  font-size: 24px;
  font-weight: 700;
}
.footer__bottom {
  border-top: 3px solid #111e1a;
  margin-top: 10px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
  padding: 10px 0;
  padding-bottom: 70px;
}
.footer__bottom__social a {
  margin-left: 20px;
}
.footer__bottom__nav {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  list-style-type: none;
}
.footer__bottom__nav li {
  margin-right: 76px;
}
.footer__bottom__nav li a {
  font-size: 12px;
  font-weight: bold;
  text-decoration: underline;
}
.footer__bottom__nav li a:hover {
  color: white;
}
.footer__bottom__social a img {
  height: 16px;
  width: auto;
}
.footer__bottom__social a:hover svg path {
  fill: white;
}
.modal__title {
  font-size: 26px;
  font-weight: 700;
  color: #398c6d;
  text-align: center;
}
.modal__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  overflow-y: auto;
}
.modal {
  max-width: 400px;
  background-color: white;
  padding: 40px 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.modal__close {
  width: 15px;
  height: 15px;
  background-image: url(../img/modal_clode.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  right: -20px;
  top: -20px;
  cursor: pointer;
}
.form {
  margin-top: 10px;
  display: -webkit-box;
  display: flex;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}
.form label {
  font-size: 12px;
  font-weight: 400;
  color: #949494;
  text-align: left;
  width: 100%;
  padding-left: 10px;
}
.form input {
  width: 100%;
  font-size: 14px;
  padding: 10px 12px;
  margin-top: 3px;
  border: 1px solid #85baa6;
  /* Firefox 19+ */
  /* Firefox 18- */
}
.form input::-webkit-input-placeholder {
  font-style: italic;
  color: #ccdcd6;
}
.form input::-moz-placeholder {
  font-style: italic;
  color: #ccdcd6;
}
.form input:-moz-placeholder {
  font-style: italic;
  color: #ccdcd6;
}
.form input:-ms-input-placeholder {
  font-style: italic;
  color: #ccdcd6;
}
.form button {
  font-size: 13px;
  font-weight: 700;
  padding: 11px 22px;
  max-width: 190px;
  width: 190px;
  text-transform: uppercase;
  background-color: #398c6d;
  color: white;
  border: none;
  box-shadow: 0 6px 16px 4px rgba(9, 173, 112, 0.2);
  margin: 0 auto;
}
.form__politics {
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  color: #d0ded9;
}
.form__politics a {
  text-decoration: underline;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  color: #d0ded9;
}
.modal__desc {
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  margin-top: 10px;
}
.page__head {
  background-image: url(../img/page__head__bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 0 50px 0;
  position: relative;
}
.page__head:before {
  content: "";
  display: block;
}
.page__head__pattern {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background-image: url(../img/page__head__bg2.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  opacity: 0;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
}
.bredcrumbs {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  list-style-type: none;
}
.bredcrumbs a {
  color: #adbbb0;
  font-size: 14px;
}
.bredcrumbs.bredcrumbs__2 {
  margin-top: 12px;
}
.bredcrumbs__separator {
  color: #adbbb0;
  margin: 0 5px;
  font-size: 14px;
}
.page__head__title {
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  margin-top: 10px;
}
.page__head__btnblock {
  margin-top: 20px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}
.page__head__btn {
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
  box-shadow: 0 6px 16px 4px rgba(9, 173, 112, 0.2);
  background-color: #398c6d;
  padding: 16px 20px;
  border: none;
}
.page__head__social {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}
.page__head__social a {
  margin-left: 20px;
  line-height: 0;
}
.page__textblock {
  padding: 36px 0;
  padding-top: 0;
}
.page__textblock img {
  float: left;
  display: inline-block;
  margin-right: 100px;
}
.page__textblock p {
  margin-top: 17px;
  font-size: 16px;
  font-weight: 300;
  color: #423e3e;
}
.page__textblock p.green {
  font-weight: 400;
  color: #398c6d;
}
p.page__textblock__title {
  color: #398c6d;
  font-size: 24px;
  font-weight: 700;
  margin-top: 40px;
}
.page__cardblock {
  padding: 40px 0;
  background: url(../img/page__cardblock__bg-left.png) left bottom, url(../img/page__cardblock__bg-right.png) right top, #e9f2eb;
  background-repeat: no-repeat;
}
.page__cardblock__title {
  color: #398c6d;
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 700;
}
.page__cardblock__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  margin-top: 28px;
  grid-gap: 20px;
}
.page__contentblock__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  margin-top: 28px;
  grid-gap: 20px;
}
.page__cardblock__item {
  background-color: white;
  padding: 25px;
  font-size: 14px;
  font-weight: 300;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: start;
          align-items: flex-start;
}
.page__cardblock__item.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
}
.page__cardblock__item.column .page__cardblock__item__text__wrapper {
  margin-top: 14px;
}
.page__cardblock__item.column .page__cardblock__item__title {
  margin-bottom: 11px;
}
.page__cardblock__item.green {
  background-color: #398c6d;
  background-image: url(../img/page__cardblock__item__bg.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}
.page__cardblock__item.green .page__cardblock__item__title {
  color: white;
  text-transform: initial;
  font-size: 14px;
  font-weight: 700;
}
.page__cardblock__item__icon {
  margin-right: 25px;
  width: 34px;
  height: auto;
}
.page__cardblock__item__text {
  font-size: 14px;
}
.page__contentblock {
  padding-bottom: 56px;
}
.page__contentblock__title {
  margin-top: 48px;
  color: #398c6d;
  font-size: 24px;
  font-weight: 700;
}
.page__contentblock__title.uppercase {
  text-transform: uppercase;
}
.page__contentblock__ol {
  margin-top: 20px;
  counter-reset: li;
}
.page__contentblock__ol li {
  position: relative;
  list-style-type: none;
  padding-left: 30px;
  margin-bottom: 20px;
  font-weight: 300;
}
.page__contentblock__ol li:before {
  content: counter(li);
  counter-increment: li;
  color: #398c6d;
  font-weight: 700;
  position: absolute;
  left: -2px;
  top: -10px;
  font-size: 30px;
}
.page__contentblock__p {
  margin-top: 15px;
  color: #333333;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}
.page__contentblock__p.strong {
  font-weight: 500;
}
.page__contentblock__ul {
  margin-top: 15px;
  list-style-type: none;
  color: #333333;
  font-size: 16px;
  font-weight: 300;
}
.page__contentblock__ul li {
  margin-bottom: 8px;
}
.page__contentblock__ul li span {
  color: #398c6d;
  font-weight: 700;
}
.page__formblock__main {
  margin-top: 0;
}
.page__cardblock__item__title {
  color: #000000;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.page__tableblock {
  padding-bottom: 60px;
  padding-top: 44px;
  background: url(../img/tableblock__bg__left.png) top left, url(../img/tableblock__bg__right.png) bottom right, #e9f2eb;
  background-repeat: no-repeat;
}
.page__tableblock__title {
  color: #398c6d;
  font-size: 24px;
  font-weight: 700;
}
.page__tableblock__title.uppercase {
  text-transform: uppercase;
}
.page__tableblock__tables {
  margin-top: 26px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
  grid-gap: 20px;
}
.page__tableblock__table {
  border-collapse: collapse;
  border-spacing: 1px;
  border-color: black;
}
.page__tableblock__table thead td {
  background-color: #398c6d;
  color: white;
  font-size: 16px;
  font-weight: 700;
  padding: 20px 26px;
  border: 1px solid #338264;
}
.page__tableblock__table tbody td {
  padding: 20px 26px;
  color: #398c6d;
  background-color: #fff;
  border: 1px solid #e9f2eb;
}
.page__textblock__slider {
  float: left;
  max-width: 300px;
  margin-right: 50px;
}
.page__textblock__slider .owl-dots {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  width: 100%;
}
.page__textblock__slider .owl-dots .owl-dot {
  max-width: 85px;
  display: block;
}
.page__textblock__slider .owl-dots .owl-dot img {
  width: 100%;
}
.page__textblock__slider .owl-dots .owl-dot.active {
  position: relative;
}
.page__textblock__slider .owl-dots .owl-dot.active:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(57, 140, 109, 0.5);
}
.page__tableblock__cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-gap: 20px;
  margin-top: 30px;
}
.page__tableblock__card {
  background-image: url(../img/page__tableblock__card__bg.png);
  background-color: #398c6d;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  padding: 30px 15px;
  -webkit-box-align: end;
          align-items: end;
  justify-items: center;
}
.page__tableblock__card__title {
  text-align: center;
  color: white;
  font-size: 15px;
}
.contacts__mapblock {
  padding: 56px 0;
}
.contacts__mapblock .container {
  display: grid;
  grid-template-columns: auto 400px;
}
.contacts__mapblock__contacts {
  padding: 40px;
  background-color: #398c6d;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 23px;
}
.contacts__mapblock__contacts * {
  color: white;
}
.contacts__mapblock__contacts__city {
  font-size: 20px;
  font-weight: 700;
}
.contacts__mapblock__contacts__list {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
}
.contacts__mapblock__contacts__list li {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}
.contacts__mapblock__contacts__list li img {
  margin-right: 10px;
}
.contacts__mapblock__contacts__list__item__strong {
  font-weight: 700;
}
.contacts__requisites {
  padding: 60px 0;
  background: url(../img/contacts__requisites__bg-left.png) bottom left, url(../img/contacts__requisites__bg-right.png) top right, #e9f2eb;
  background-repeat: no-repeat;
}
.contacts__requisites__title {
  color: #398c6d;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}
.contacts__requisites__content {
  background-color: #fff;
  padding: 30px;
  margin: 0 auto;
  margin-top: 40px;
  max-width: 820px;
}
.contacts__requisites__content__list {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}
.contacts__requisites__content__list li .green {
  color: #398c6d;
  font-weight: 700;
}
.search {
  padding: 40px 0;
  background: url(../img/search__bg-left.png) top left, url(../img/search__bg-right.png) top right, #e9f2eb;
  background-repeat: no-repeat;
  -webkit-box-flex: 1;
          flex-grow: 1;
}
.search__title {
  color: #398c6d;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 20px;
}
.search__form {
  display: grid;
  grid-template-columns: auto 200px;
  margin-top: 20px;
}
.search__form__input {
  padding: 17px;
  border: none;
}
.search__results__title {
  margin-top: 24px;
  color: #398c6d;
  font-size: 24px;
  font-weight: 700;
}
.search__results__items {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 12px;
  margin-top: 20px;
}
.search__results__item {
  background-color: #fff;
  padding: 25px;
}
.search__results__item__title {
  color: #398c6d;
  font-size: 20px;
  font-weight: 700;
}
.search__results__item__desc {
  margin-top: 10px;
  color: #423e3e;
  font-size: 16px;
  font-weight: 300;
}
.search__results__error {
  color: #232323;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 60px;
}
.link__404 {
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 200px;
}
