{% set title = 'Центр сертификации | Контакты' %} {% extends
'layouts/_main.html' %} {% block content %}
<!-- search -->
<div class="search">
    <div class="container">
        <ul class="bredcrumbs">
            <li><a href="/">Главная</a></li>
            <li class="bredcrumbs__separator">/</li>
            <li><a href="/">404</a></li>
        </ul>
        <h1 class="search__title">
            Страница не найдена <br />
            Ошибка 404
        </h1>
        <a href="" class="link__404 btn__noborderradius"
            >Вернуться на главную</a
        >
    </div>
</div>
<!--END search -->

{% endblock %}
