{% set title = 'Главная' %} {% extends 'layouts/_main.html' %} {% block content
%}
<!-- hero -->
<div class="hero">
    <div class="container">
        <div class="hero__text">
            <h1 class="hero__title">
                ЦЕНТР СЕРТИФИКАЦИИ ПРОДУКЦИИ И УСЛУГ В КАЗАНИ
            </h1>
            <div class="hero__desc">
                Центр по сертификации "Альянс АГ Групп" выдает сертификаты и
                проводит испытания продукции в собственных лабораториях
            </div>
            <button data-click-modal-open="raschet" class="btn__big__shadow">эКСПРЕСС РАСЧЁТ СТОИМОСТИ</button>
        </div>
        <div class="hero__img">
            <img src="img/hero__docs.png" alt="" />
        </div>
    </div>
</div>
<!--END hero -->
<!-- about as -->
<div class="about__as">
    <div class="container">
        <h2 class="section-title">О нас</h2>
        <div class="about__as__imgblock">
            <div class="about__as__imgblock__img"></div>
            <div class="about__as__imgblock__text">
                <div class="about__as__imgblock__title">
                    Центр сертификации Альянс АР Групп
                </div>
                <div class="about__as__imgblock__desc">
                    Это аккредитованный центр по выдаче разрешительной
                    документации, которая необходима для осуществления
                    деятельности компаниям-производителям и импортерам. Мы имеем
                    все обязательные документы и лицензии от Федеральной службы
                    по аккредитации. Наш штат сотрудников состоит только из
                    высококвалифицированных специалистов, для которых нет
                    никаких тайн в проведениях экспертиз, оформлении документов,
                    их приведении в надлежащий вид. Благодаря этому
                    немаловажному нюансу наши клиенты всегда могут рассчитывать
                    на то, что получат все необходимые сертификаты и
                    разрешительные документы в максимально сжатые сроки.
                </div>
            </div>
        </div>
        <div class="about__as__txtblock">
            <div class="about__as__txtblock__title">
                Основные функции нашего центра сертификации заключается в:
            </div>
            <ol class="about__as__txtblock__list">
                <li>
                    Консультации клиентов по поводу разнообразных аспектов
                    нормативно-правовых актов, регламентирующих проведение
                    сертификации продукции.
                </li>
                <li>
                    Поддержке клиентов на всех этапах оформления разрешительной
                    документации и сертификатов.
                </li>
                <li>
                    Внедрении в деятельность новых методик, которые в сочетании
                    с опытом сотрудников «Альянс АР Групп» приводят к
                    значительному ускорению процесса сертификации.
                </li>
                <li>
                    Помощи юридическим лицам в их выходе на международный рынок,
                    импорте и экспорте определенных товарных групп на территории
                    межгосударственных экономических образований.
                </li>
            </ol>
        </div>
        <div class="about__as__logos">
            <img src="img/about_as_logos-1.png" alt="" />
            <img src="img/about_as_logos-2.png" alt="" />
            <img src="img/about_as_logos-3.png" alt="" />
            <img src="img/about_as_logos-4.png" alt="" />
        </div>
    </div>
</div>
<!-- about as -->
<!-- plus -->
<div class="plus">
    <div class="container">
        <h2 class="section-title">Плюсы центра сертификации</h2>
        <div class="plus__items">
            <!-- plus__item -->
            <div class="plus__item">
                <img src="img/plus_1.svg" alt="" class="plus__item__img" />
                <div class="plus__item__title">Разумные цены;</div>
                <div class="plus__item__desc">
                    Теперь вы можете прйти короткий опрос это заменит около 30
                    секунд за эти 30 секунд мы поймем что вам предложить
                </div>
            </div>
            <!--END plus__item -->
            <!-- plus__item -->
            <div class="plus__item">
                <img src="img/plus_2.svg" alt="" class="plus__item__img" />
                <div class="plus__item__title">Штат профессионалов;</div>
                <div class="plus__item__desc">
                    Теперь вы можете прйти короткий опрос это заменит около 30
                    секунд за эти 30 секунд мы поймем что вам предложить
                </div>
            </div>
            <!--END plus__item -->
            <!-- plus__item -->
            <div class="plus__item">
                <img src="img/plus_3.svg" alt="" class="plus__item__img" />
                <div class="plus__item__title">
                    Готовый сертификат от 1 дня;
                </div>
                <div class="plus__item__desc">
                    Теперь вы можете прйти короткий опрос это заменит около 30
                    секунд за эти 30 секунд
                </div>
            </div>
            <!--END plus__item -->
            <!-- plus__item -->
            <div class="plus__item">
                <img src="img/plus_4.svg" alt="" class="plus__item__img" />
                <div class="plus__item__title">
                    Бесплатная доставка документов;
                </div>
                <div class="plus__item__desc">
                    Теперь вы можете прйти короткий опрос это заменит около 30
                    секунд за эти 30 секунд
                </div>
            </div>
            <!--END plus__item -->
            <!-- plus__item -->
            <div class="plus__item">
                <img src="img/plus_5.svg" alt="" class="plus__item__img" />
                <div class="plus__item__title">
                    Постоянная работа с клиентом, консультирование по
                    нормативно-правовым актам
                </div>
            </div>
            <!--END plus__item -->
            <!-- plus__item -->
            <div class="plus__item">
                <img src="img/plus_6.svg" alt="" class="plus__item__img" />
                <div class="plus__item__title">
                    Поддержка клиентов на всех этапах оформления сертификата;
                </div>
                <div class="plus__item__desc">
                    Теперь вы можете прйти короткий опрос это заменит около 30
                    секунд
                </div>
            </div>
            <!--END plus__item -->
            <!-- plus__item -->
            <div class="plus__item">
                <img src="img/plus_7.svg" alt="" class="plus__item__img" />
                <div class="plus__item__title">
                    Поможем предпринимателям выйти на международный рынок
                </div>
                <div class="plus__item__desc">
                    Теперь вы можете прйти короткий опрос это заменит около 30
                    секунд
                </div>
            </div>
            <!--END plus__item -->
        </div>
    </div>
</div>
<!--END plus -->
<!-- steps -->
<div class="steps">
    <div class="container">
        <h2 class="section-title">как мы работаем</h2>
        <div class="steps__items">
            <!-- steps__item -->
            <div class="steps__item">
                <div class="steps__item__num">1</div>
                <div class="steps__item__text">
                    <div class="steps__item__title">Подзаголовок</div>
                    <div class="steps__item__desc">
                        Теперь вы можете прйти короткий опрос это заменит около
                        30 секунд за эти 30 секунд мы поймем что вам предложить
                    </div>
                </div>
            </div>
            <!--END steps__item -->
            <!-- steps__item -->
            <div class="steps__item">
                <div class="steps__item__num">2</div>
                <div class="steps__item__text">
                    <div class="steps__item__title">Подзаголовок</div>
                    <div class="steps__item__desc">
                        Теперь вы можете прйти короткий опрос это заменит около
                        30 секунд за эти 30 секунд мы поймем что вам предложить
                    </div>
                </div>
            </div>
            <!--END steps__item -->
            <!-- steps__item -->
            <div class="steps__item">
                <div class="steps__item__num">3</div>
                <div class="steps__item__text">
                    <div class="steps__item__title">Подзаголовок</div>
                    <div class="steps__item__desc">
                        Теперь вы можете прйти короткий опрос это заменит около
                        30 секунд за эти 30 секунд мы поймем что вам предложить
                    </div>
                </div>
            </div>
            <!--END steps__item -->
            <!-- steps__item -->
            <div class="steps__item">
                <div class="steps__item__num">4</div>
                <div class="steps__item__text">
                    <div class="steps__item__title">Подзаголовок</div>
                    <div class="steps__item__desc">
                        Теперь вы можете прйти короткий опрос это заменит около
                        30 секунд за эти 30 секунд мы поймем что вам предложить
                    </div>
                </div>
            </div>
            <!--END steps__item -->
            <!-- steps__item -->
            <div class="steps__item">
                <div class="steps__item__num">5</div>
                <div class="steps__item__text">
                    <div class="steps__item__title">Подзаголовок</div>
                    <div class="steps__item__desc">
                        Теперь вы можете прйти короткий опрос это заменит около
                        30 секунд за эти 30 секунд мы поймем что вам предложить
                    </div>
                </div>
            </div>
            <!--END steps__item -->
            <!-- steps__item -->
            <div class="steps__item">
                <div class="steps__item__num">6</div>
                <div class="steps__item__text">
                    <div class="steps__item__title">Подзаголовок</div>
                    <div class="steps__item__desc">
                        Теперь вы можете прйти короткий опрос это заменит около
                        30 секунд за эти 30 секунд мы поймем что вам предложить
                    </div>
                </div>
            </div>
            <!--END steps__item -->
        </div>
    </div>
</div>
<!--END steps -->
<!-- prices -->
<div class="prices">
    <div class="container">
        <h2 class="section-title">Цены на сертификации</h2>
        <div class="section-desc">
            У нас собственная аккредитация и собственные аккредитованные
            лаборатории, поэтому мы не работаем как посредники. <br />
            Это отражается на конечной цене нашей работы сертификация продукции
            и сертификация услуги недорогая.
        </div>
        <div class="section-desc green">
            Посмотреть актуальные цены Вы можете на сайте или узнать по
            телефону. <br />
            Наши специалисты проконсультируют и ответят на все вопросы.
        </div>
        <div class="prices__items">
            <!-- prices__item -->
            <div class="prices__item" style="background-image: url(../img/prices-1.jpg);">
                <div class="prices__item__title">
                    Сертификат соответствия ТР ТС
                </div>
                <div class="prices__item__desc">
                    У нас собственная аккредитация и собственные аккредитованные
                    лаборатории, поэтому мы не работаем как посредники.
                </div>
                <div class="prices__item__price">от 4 000 руб</div>
                <a href="/" class="prices__item__btn">Подробнее</a>
            </div>
            <!--END prices__item -->
            <!-- prices__item -->
            <div class="prices__item" style="background-image: url(../img/prices-2.jpg);">
                <div class="prices__item__title">
                    декларация соответствия ТР ТС
                </div>
                <div class="prices__item__desc">
                    У нас собственная аккредитация и собственные аккредитованные
                    лаборатории, поэтому мы не работаем как посредники.
                </div>
                <div class="prices__item__price">от 2 000 руб</div>
                <a href="/" class="prices__item__btn">Подробнее</a>
            </div>
            <!--END prices__item -->
            <!-- prices__item -->
            <div class="prices__item" style="background-image: url(../img/prices-3.jpg);">
                <div class="prices__item__title">
                    Декларация сертификации ГОСТ Р
                </div>
                <div class="prices__item__desc">
                    У нас собственная аккредитация и собственные аккредитованные
                    лаборатории, поэтому мы не работаем как посредники.
                </div>
                <div class="prices__item__price">от 5 000 руб</div>
                <a href="/" class="prices__item__btn">Подробнее</a>
            </div>
            <!--END prices__item -->
            <!-- prices__item -->
            <div class="prices__item" style="background-image: url(../img/prices-4.jpg);">
                <div class="prices__item__title">
                    Сертификат соответствия ГОСТ Р
                </div>
                <div class="prices__item__desc">
                    У нас собственная аккредитация и собственные аккредитованные
                    лаборатории, поэтому мы не работаем как посредники.
                </div>
                <div class="prices__item__price">от 6 000 руб</div>
                <a href="/" class="prices__item__btn">Подробнее</a>
            </div>
            <!--END prices__item -->
            <!-- prices__item -->
            <div class="prices__item" style="background-image: url(../img/prices-5.jpg);">
                <div class="prices__item__title">
                    Сертификат Таможенного союза
                </div>
                <div class="prices__item__desc">
                    У нас собственная аккредитация и собственные аккредитованные
                    лаборатории, поэтому мы не работаем как посредники.
                </div>
                <div class="prices__item__price">от 5 500 руб</div>
                <a href="/" class="prices__item__btn">Подробнее</a>
            </div>
            <!--END prices__item -->
            <!-- prices__item -->
            <div class="prices__item" style="background-image: url(../img/prices-6.jpg);">
                <div class="prices__item__title">
                    Добровольная сертификация
                </div>
                <div class="prices__item__desc">
                    У нас собственная аккредитация и собственные аккредитованные
                    лаборатории, поэтому мы не работаем как посредники.
                </div>
                <div class="prices__item__price">от 3 000 руб</div>
                <a href="/" class="prices__item__btn">Подробнее</a>
            </div>
            <!--END prices__item -->
            <!-- prices__item -->
            <div class="prices__item" style="background-image: url(../img/prices-7.jpg);">
                <div class="prices__item__title">
                    Сертификация халяль
                </div>
                <div class="prices__item__desc">
                    У нас собственная аккредитация и собственные аккредитованные
                    лаборатории, поэтому мы не работаем как посредники.
                </div>
                <div class="prices__item__price">от 10 000 руб</div>
                <a href="/" class="prices__item__btn">Подробнее</a>
            </div>
            <!--END prices__item -->
            <!-- prices__item -->
            <div class="prices__item" style="background-image: url(../img/prices-8.jpg);">
                <div class="prices__item__title">
                    Экологический сертификат
                </div>
                <div class="prices__item__desc">
                    У нас собственная аккредитация и собственные аккредитованные
                    лаборатории, поэтому мы не работаем как посредники.
                </div>
                <div class="prices__item__price">от 15 000 руб</div>
                <a href="/" class="prices__item__btn">Подробнее</a>
            </div>
            <!--END prices__item -->
            <!-- prices__item -->
            <div class="prices__item" style="background-image: url(../img/prices-9.jpg);">
                <div class="prices__item__title">
                    Отказное <br />
                    письмо
                </div>
                <div class="prices__item__desc">
                    У нас собственная аккредитация и собственные аккредитованные
                    лаборатории, поэтому мы не работаем как посредники.
                </div>
                <div class="prices__item__price">от 1 000 руб</div>
                <a href="/" class="prices__item__btn">Подробнее</a>
            </div>
            <!--END prices__item -->
            <!-- prices__item -->
            <div class="prices__item" style="background-image: url(../img/prices-10.jpg);">
                <div class="prices__item__title">
                    Сертификат <br />
                    исо 9001
                </div>
                <div class="prices__item__desc">
                    У нас собственная аккредитация и собственные аккредитованные
                    лаборатории, поэтому мы не работаем как посредники.
                </div>
                <div class="prices__item__price">от 5 000 руб</div>
                <a href="/" class="prices__item__btn">Подробнее</a>
            </div>
            <!--END prices__item -->
            <!-- prices__item -->
            <div class="prices__item" style="background-image: url(../img/prices-11.jpg);">
                <div class="prices__item__title">
                    Сертификат <br />
                    хассп
                </div>
                <div class="prices__item__desc">
                    У нас собственная аккредитация и собственные аккредитованные
                    лаборатории, поэтому мы не работаем как посредники.
                </div>
                <div class="prices__item__price">от 6 000 руб</div>
                <a href="/" class="prices__item__btn">Подробнее</a>
            </div>
            <!--END prices__item -->
            <!-- prices__item -->
            <div class="prices__item" style="background-image: url(../img/prices-12.jpg);">
                <div class="prices__item__title">
                    СГР
                </div>
                <div class="prices__item__desc">
                    У нас собственная аккредитация и собственные аккредитованные
                    лаборатории, поэтому мы не работаем как посредники.
                </div>
                <div class="prices__item__price">от 15 000 руб</div>
                <a href="/" class="prices__item__btn">Подробнее</a>
            </div>
            <!--END prices__item -->
            <!-- prices__item -->
            <div class="prices__item" style="background-image: url(../img/prices-13.jpg);">
                <div class="prices__item__title">
                    Технические условия
                </div>
                <div class="prices__item__desc">
                    У нас собственная аккредитация и собственные аккредитованные
                    лаборатории, поэтому мы не работаем как посредники.
                </div>
                <div class="prices__item__price">от 1 000 руб</div>
                <a href="/" class="prices__item__btn">Подробнее</a>
            </div>
            <!--END prices__item -->
            <!-- prices__item -->
            <div class="prices__item" style="background-image: url(../img/prices-14.jpg);">
                <div class="prices__item__title">
                    Сертификат <br />
                    исо 9001
                </div>
                <div class="prices__item__desc">
                    У нас собственная аккредитация и собственные аккредитованные
                    лаборатории, поэтому мы не работаем как посредники.
                </div>
                <div class="prices__item__price">от 5 000 руб</div>
                <a href="/" class="prices__item__btn">Подробнее</a>
            </div>
            <!--END prices__item -->
            <!-- prices__item -->
            <div class="prices__item" style="background-image: url(../img/prices-15.jpg);">
                <div class="prices__item__title">
                    Сертификат <br />
                    хассп
                </div>
                <div class="prices__item__desc">
                    У нас собственная аккредитация и собственные аккредитованные
                    лаборатории, поэтому мы не работаем как посредники.
                </div>
                <div class="prices__item__price">от 6 000 руб</div>
                <a href="/" class="prices__item__btn">Подробнее</a>
            </div>
            <!--END prices__item -->
            <!-- prices__item -->
            <div class="prices__item" style="background-image: url(../img/prices-15.jpg);">
                <div class="prices__item__title">
                    СГР
                </div>
                <div class="prices__item__desc">
                    У нас собственная аккредитация и собственные аккредитованные
                    лаборатории, поэтому мы не работаем как посредники.
                </div>
                <div class="prices__item__price">от 15 000 руб</div>
                <a href="/" class="prices__item__btn">Подробнее</a>
            </div>
            <!--END prices__item -->
        </div>
        <div class="prices__btn">Смотреть ещё</div>
    </div>
</div>
<!--END prices -->
<!-- contacts -->
<div class="contacts">
    <div class="container">
        <h2 class="section-title">
            Выберите наилучий вариант <br />
            связаться с нами
        </h2>
        <div class="contacts__items">
            <!-- contacts__item -->
            <div class="contacts__item black">
                <div class="contacts__item__title">
                    оставьте заявку <br />
                    на сайте
                </div>
                <div class="contacts__item__desc">
                    Оставьте заявку на сайте, наш специалист свяжется с вами для
                    подтверждения заявки в течение рабочего дня
                </div>
                <div data-click-modal-open="call-order" class="contacts__item__btn">Оставить заявку</div>
            </div>
            <!-- contacts__item -->
            <!-- contacts__item -->
            <div class="contacts__item white">
                <div class="contacts__item__title">
                    Связаться по телефону
                </div>
                <div class="contacts__item__desc">
                    Позвоните по бесплатному круглосуточному номеру:
                </div>
                <a href="tel:8 800 600-14-08" class="contacts__item__phone">8 800 600-14-08</a>
                <div class="contacts__item__desc strong">
                    Или придти к нам по адресу:
                </div>
                <div class="contacts__item__desc">
                    г. Казань,ул. Юлиуса Фучика, 90А <br />
                    эт. 8, каб. 827, 828
                </div>
            </div>
            <!-- contacts__item -->
            <!-- contacts__item -->
            <div class="contacts__map" id="contacts__map"></div>
            <!--END contacts__item -->
        </div>
    </div>
</div>
<!--END contacts -->
<!-- reviews -->
<div class="reviews">
    <div class="container">
        <h2 class="section-title">Отзывы наших клиентов</h2>
        <div class="reviews__slider owl-carousel">
            <!-- reviews__slider__item -->
            <div class="reviews__slider__item">
                <img src="img/reviews_slide_img-1.jpg" alt="" />
                <div class="reviews__slider__item__text">
                    <div class="reviews__slider__item__title">Леруа мерлен</div>
                    <div class="reviews__slider__item__desc">
                        Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit, sed do eiusmod tempor i ncididunt ut labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis
                        nostrud exercitation ullamco laboris nisi ut aliquip ex
                        ea commodo consequat.
                    </div>
                    <div class="reviews__slider__item__desc green">
                        Duis aute irure dolor in reprehenderit in voluptate
                        velit esse cillum dolore eu fugiat nulla pariatur.
                    </div>
                    <div class="reviews__slider__item__desc">
                        Excepteur sint occaecat cupidatat non proident, sunt in
                        culpa qui officia deserunt mollit anim id est laborum.
                        Sed ut perspiciatis unde omnis iste natus error sit
                        voluptatem accusantium doloremque laudantium, totam rem
                        aperiam, eaque ipsa quae ab illo inventore veritatis et
                        quasi architecto beatae vitae dicta sunt explicabo.
                    </div>
                </div>
            </div>
            <!-- reviews__slider__item -->
            <!-- reviews__slider__item -->
            <div class="reviews__slider__item">
                <img src="img/reviews_slide_img-1.jpg" alt="" />
                <div class="reviews__slider__item__text">
                    <div class="reviews__slider__item__title">Леруа мерлен</div>
                    <div class="reviews__slider__item__desc">
                        Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit, sed do eiusmod tempor i ncididunt ut labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis
                        nostrud exercitation ullamco laboris nisi ut aliquip ex
                        ea commodo consequat.
                    </div>
                    <div class="reviews__slider__item__desc green">
                        Duis aute irure dolor in reprehenderit in voluptate
                        velit esse cillum dolore eu fugiat nulla pariatur.
                    </div>
                    <div class="reviews__slider__item__desc">
                        Excepteur sint occaecat cupidatat non proident, sunt in
                        culpa qui officia deserunt mollit anim id est laborum.
                        Sed ut perspiciatis unde omnis iste natus error sit
                        voluptatem accusantium doloremque laudantium, totam rem
                        aperiam, eaque ipsa quae ab illo inventore veritatis et
                        quasi architecto beatae vitae dicta sunt explicabo.
                    </div>
                </div>
            </div>
            <!-- reviews__slider__item -->
        </div>
    </div>
</div>
<!--END reviews -->
<!-- faq -->
<div class="faq">
    <div class="container">
        <h2 class="section-title">Вопросы - ответы</h2>
        <div class="faq__accordion">
            <!-- faq__accordion__item -->
            <div class="faq__accordion__item">
                <div data-faq-accordion-link="1" class="faq__accordion__link">
                    <div class="faq__accordion__link__title">
                        Какие документы нужны, чтобы начать оформление?
                    </div>
                    <div class="faq__accordion__link__arrow"></div>
                </div>
                <div data-faq-accordion-content="1" class="faq__accordion__content">
                    <p>Зависит от документа, который необходимо оформить.</p>
                    <p>Однако, чаще всего требуется только:</p>
                    <p>Копии учредительных документов;</p>
                    <p>Описание продукции или услуг в имеющемся формате;</p>
                    <p>Реквизиты юридического лица;</p>
                    <p>
                        Код ТН ВЭД или ГОСТ Р. Для услуг - ОКПД 2 (при наличии);
                    </p>
                    <p>Образцы для испытаний продукции (при необходимости).</p>
                    <p>
                        Для дополнительной информации свяжитесь со специалистом
                        нашего центра по телефону +7 (800) 551-97-96 или
                        напишите на почту sert@enorma.ru.
                    </p>
                </div>
            </div>
            <!--END faq__accordion__item -->
            <!-- faq__accordion__item -->
            <div class="faq__accordion__item">
                <div data-faq-accordion-link="2" class="faq__accordion__link">
                    <div class="faq__accordion__link__title">
                        Какие документы нужны, чтобы начать оформление?
                    </div>
                    <div class="faq__accordion__link__arrow"></div>
                </div>
                <div data-faq-accordion-content="2" class="faq__accordion__content">
                    <p>Зависит от документа, который необходимо оформить.</p>
                    <p>Однако, чаще всего требуется только:</p>
                    <p>Копии учредительных документов;</p>
                    <p>Описание продукции или услуг в имеющемся формате;</p>
                    <p>Реквизиты юридического лица;</p>
                    <p>
                        Код ТН ВЭД или ГОСТ Р. Для услуг - ОКПД 2 (при наличии);
                    </p>
                    <p>Образцы для испытаний продукции (при необходимости).</p>
                    <p>
                        Для дополнительной информации свяжитесь со специалистом
                        нашего центра по телефону +7 (800) 551-97-96 или
                        напишите на почту sert@enorma.ru.
                    </p>
                </div>
            </div>
            <!--END faq__accordion__item -->
            <!-- faq__accordion__item -->
            <div class="faq__accordion__item">
                <div data-faq-accordion-link="3" class="faq__accordion__link">
                    <div class="faq__accordion__link__title">
                        Какие документы нужны, чтобы начать оформление?
                    </div>
                    <div class="faq__accordion__link__arrow"></div>
                </div>
                <div data-faq-accordion-content="3" class="faq__accordion__content">
                    <p>Зависит от документа, который необходимо оформить.</p>
                    <p>Однако, чаще всего требуется только:</p>
                    <p>Копии учредительных документов;</p>
                    <p>Описание продукции или услуг в имеющемся формате;</p>
                    <p>Реквизиты юридического лица;</p>
                    <p>
                        Код ТН ВЭД или ГОСТ Р. Для услуг - ОКПД 2 (при наличии);
                    </p>
                    <p>Образцы для испытаний продукции (при необходимости).</p>
                    <p>
                        Для дополнительной информации свяжитесь со специалистом
                        нашего центра по телефону +7 (800) 551-97-96 или
                        напишите на почту sert@enorma.ru.
                    </p>
                </div>
            </div>
            <!--END faq__accordion__item -->
            <!-- faq__accordion__item -->
            <div class="faq__accordion__item">
                <div data-faq-accordion-link="4" class="faq__accordion__link">
                    <div class="faq__accordion__link__title">
                        Какие документы нужны, чтобы начать оформление?
                    </div>
                    <div class="faq__accordion__link__arrow"></div>
                </div>
                <div data-faq-accordion-content="4" class="faq__accordion__content">
                    <p>Зависит от документа, который необходимо оформить.</p>
                    <p>Однако, чаще всего требуется только:</p>
                    <p>Копии учредительных документов;</p>
                    <p>Описание продукции или услуг в имеющемся формате;</p>
                    <p>Реквизиты юридического лица;</p>
                    <p>
                        Код ТН ВЭД или ГОСТ Р. Для услуг - ОКПД 2 (при наличии);
                    </p>
                    <p>Образцы для испытаний продукции (при необходимости).</p>
                    <p>
                        Для дополнительной информации свяжитесь со специалистом
                        нашего центра по телефону +7 (800) 551-97-96 или
                        напишите на почту sert@enorma.ru.
                    </p>
                </div>
            </div>
            <!--END faq__accordion__item -->
        </div>
    </div>
</div>
<!--END faq -->
<!-- form -->
<div class="formblock">
    <div class="container">
        <h2 class="section-title">Впервые оформляете сертификат?</h2>
        <div class="formblock__main">
            <img src="img/formblock_form.png" alt="" class="formblock__main__img">
            <div class="formblock__main__title">
                Оставьте заявку, на сертификат или конусультацию
            </div>
            <div class="formblock__main__desc">
                и наш менеджер свяжется с Вами проконсультирует и поможет
                определиться фс выбором сертификата
            </div>
            <form action="/" class="formblock__main__form">
                <div class="formblock__main__form__item">
                    <label for="">Введите Ваше имя:</label>
                    <input type="text" placeholder="Александр Иванов" />
                </div>
                <div class="formblock__main__form__item">
                    <label for="">Введите Ваш номер телефона:</label>
                    <input type="text" placeholder="+7 999 876-54-32" />
                </div>
                <div class="formblock__main__form__btn">
                    <button>отправить</button>
                </div>
            </form>
            <div class="formblock__main__politics">Нажимая на кнопку “отправить” Вы принимаете условия <a href="">политики конфинденциальности</a> </div>
        </div>
    </div>
</div>
<!--END form -->
{% endblock %}