{% set title = 'Центр сертификации | Лаборатория' %} {% extends
'layouts/_main.html' %} {% block content %}

<!-- page__head -->
<div class="page__head" style="background-image: url(img/laboratory__bg.jpg);">
    <div class="page__head__pattern"></div>
    <div class="container">
        <ul class="bredcrumbs">
            <li><a href="/">Главная</a></li>
            <li class="bredcrumbs__separator">/</li>
            <li><a href="/">лаборатория</a></li>
        </ul>
        <h1 class="page__head__title">лаборатория</h1>
        <div class="page__head__btnblock">
            <button class="btn__noborderradius">Сохранить в закладки</button>
            <div class="page__head__social">
                <a href="/">
                    <img src="img/page__head__fb.png" alt="" />
                </a>
                <a href="/">
                    <img src="img/page__head__ok.png" alt="" />
                </a>
                <a href="/">
                    <img src="img/page__head__vk.png" alt="" />
                </a>
            </div>
        </div>
    </div>
</div>
<!--END page__head -->

<!-- page__textblock -->
<br />
<div class="page__textblock">
    <div class="container">
        <img src="img/laboratory.png" alt="" />
        <p>
            Лаборатория – оборудованное помещение, приспособленное для
            специальных опытов и исследований. Испытательная лаборатория (или
            испытательный центр) – лаборатория, аккредитованная на проведение
            испытаний продукции в одной из действующих систем сертификации в
            соответствии со своей областью аккредитации. Правила аккредитации
            испытательных лабораторий в РФ регламентирует федеральный закон №184
            – ФЗ. от 27 декабря 2002 г. «О техническом регулировании»
        </p>
        <p class="page__textblock__title">Как работает лаборатория</p>
        <p>
            Главная задача испытаний – узнать, как поведет себя испытываемая
            продукция в определенных критических условиях. В лаборатории без
            этих испытаний невозможно получить ни сертификат соответствия, ни
            пожарный сертификат, ни прочие разрешительные документы, т.к.
            испытание является основанием для выпуска разрешительных документах.
        </p>
    </div>
</div>
<!--END page__textblock -->
<!-- page__page__contentblock -->
<div class="page__contentblock">
    <div class="container">
        <div class="page__contentblock__title">
            Протоколы испытаний
        </div>
        <p class="page__contentblock__p">
            После испытания, лаборатория составляет заключение в виде протокола
            испытаний, где заносятся все результаты испытаний заявленного
            изделия. Протокол Испытаний является официальным документом и
            основанием для выдачи сертификатов.
        </p>
        <div class="page__contentblock__title">
            В протоколе испытаний указываются:
        </div>
        <ol class="page__contentblock__ol">
            <li>
                Дата
            </li>
            <li>Выбрать количество видов.</li>
            <li>
                Описание представленных образцов
            </li>
            <li>Основания для проведения испытаний</li>
            <li>Методика проводимых испытаний</li>
            <li>Реквизиты производителя товаров</li>
            <li>Результаты.</li>
        </ol>
        <p class="page__contentblock__p">
            В протоколе испытаний указываются утвержденные производителем
            характеристики продукции, прописывается информация об испытательном
            оборудовании, средах и средствах измерений.
        </p>
        <div class="page__contentblock__title">
            Протокол с отрицательными результатами испытаний
        </div>
        <p class="page__contentblock__p">
            Выдается при несовпадении требованиям соответствия нормативных
            документов испытуемого продукта. И все сведения, полученные в
            процессе испытаний, заносятся в архив и являются строго
            конфиденциальной информацией.
        </p>
    </div>
</div>
<!--END page__page__contentblock -->

<!-- page__cardblock -->
<div class="page__cardblock">
    <div class="container">
        <div class="page__cardblock__title">Плюсы штрихкодирования:</div>
        <div class="page__cardblock__items">
            <!-- page__cardblock__item -->
            <div class="page__cardblock__item column">
                <img
                    src="img/laboratory__icon-1.png"
                    alt=""
                    class="page__cardblock__item__icon"
                />
                <div class="page__cardblock__item__text__wrapper">
                    <div class="page__cardblock__item__title">
                        Подать заявление на испытания
                    </div>
                </div>
            </div>
            <!--END page__cardblock__item -->
            <!-- page__cardblock__item -->
            <div class="page__cardblock__item column">
                <img
                    src="img/laboratory__icon-2.png"
                    alt=""
                    class="page__cardblock__item__icon"
                />
                <div class="page__cardblock__item__text__wrapper">
                    <div class="page__cardblock__item__title">
                        К заявлению приложить образцы продукции.
                    </div>
                </div>
            </div>
            <!--END page__cardblock__item -->
            <!-- page__cardblock__item -->
            <div class="page__cardblock__item column">
                <img
                    src="img/laboratory__icon-2.png"
                    alt=""
                    class="page__cardblock__item__icon"
                />
                <div class="page__cardblock__item__text__wrapper">
                    <div class="page__cardblock__item__title">
                        инструкции и другие технические документы
                    </div>
                    <div class="page__cardblock__item__text">
                        (для каждой продукции перечень предоставляется
                        индивидуально).
                    </div>
                </div>
            </div>
            <!--END page__cardblock__item -->
            <!-- page__cardblock__item -->
            <div class="page__cardblock__item column">
                <img
                    src="img/laboratory__icon-2.png"
                    alt=""
                    class="page__cardblock__item__icon"
                />
                <div class="page__cardblock__item__text__wrapper">
                    <div class="page__cardblock__item__title">
                        оплатить пошлину.
                    </div>
                </div>
            </div>
            <!--END page__cardblock__item -->
        </div>
    </div>
</div>
<!--END page__cardblock -->

<!-- page__page__contentblock -->
<div class="page__contentblock">
    <div class="container">
        <div class="page__contentblock__title">
            Преимущества центра по сертификации «Альянс Ар Групп»:
        </div>
        <div class="page__contentblock__cards">
            <!-- page__cardblock__item -->
            <div class="page__cardblock__item column green">
                <img
                    src="img/laboratory__icon__white-1.png"
                    alt=""
                    class="page__cardblock__item__icon"
                />
                <div class="page__cardblock__item__text__wrapper">
                    <div class="page__cardblock__item__title">
                        Многолетний опыт работы в сфере сертификации.
                    </div>
                </div>
            </div>
            <!--END page__cardblock__item -->
            <!-- page__cardblock__item -->
            <div class="page__cardblock__item column green">
                <img
                    src="img/laboratory__icon__white-2.png"
                    alt=""
                    class="page__cardblock__item__icon"
                />
                <div class="page__cardblock__item__text__wrapper">
                    <div class="page__cardblock__item__title">
                        Высокая квалификация аккредитованных экспертов
                    </div>
                </div>
            </div>
            <!--END page__cardblock__item -->
            <!-- page__cardblock__item -->
            <div class="page__cardblock__item column green">
                <img
                    src="img/laboratory__icon__white-3.png"
                    alt=""
                    class="page__cardblock__item__icon"
                />
                <div class="page__cardblock__item__text__wrapper">
                    <div class="page__cardblock__item__title">
                        Большой спектр испытаний.
                    </div>
                </div>
            </div>
            <!--END page__cardblock__item -->
            <!-- page__cardblock__item -->
            <div class="page__cardblock__item column green">
                <img
                    src="img/laboratory__icon__white-4.png"
                    alt=""
                    class="page__cardblock__item__icon"
                />
                <div class="page__cardblock__item__text__wrapper">
                    <div class="page__cardblock__item__title">
                        Собственные лаборатории с современным испытательным
                        оборудованием и новейшие точные средства измерений.
                    </div>
                </div>
            </div>
            <!--END page__cardblock__item -->
        </div>
        <div class="page__contentblock__title">
            Следовательно: решения, принятые по итогам испытаний, являются
            независимыми и легитимными.
        </div>
        <div class="page__contentblock__p">
            Выдается при несовпадении требованиям соответствия нормативных
            документов испытуемого продукта. И все сведения, полученные в
            процессе испытаний, заносятся в архив и являются строго
            конфиденциальной информацией.
        </div>
    </div>
</div>
<!--END page__page__contentblock -->

<!-- formblock -->
<div class="formblock">
    <div class="container">
        <div class="formblock__main page__formblock__main">
            <div class="page__formblock__main__img__wrapper">
                <img
                    src="img/laboratory.png"
                    alt=""
                    class="formblock__main__img"
                />
            </div>
            <div class="formblock__main__title">
                Оставить заявку на оформление СОУТ
            </div>
            <div class="formblock__main__desc">
                Вы можете на сайте или по телефону. Если остались вопросы, мы
                ответим на них!
            </div>
            <form action="/" class="formblock__main__form">
                <div class="formblock__main__form__item">
                    <label for="">Введите Ваше имя:</label>
                    <input type="text" placeholder="Александр Иванов" />
                </div>
                <div class="formblock__main__form__item">
                    <label for="">Введите Ваш номер телефона:</label>
                    <input type="text" placeholder="+7 999 876-54-32" />
                </div>
                <div class="formblock__main__form__btn">
                    <button class="btn__noborderradius">отправить</button>
                </div>
            </form>
            <div class="formblock__main__politics">
                Нажимая на кнопку “отправить” Вы принимаете условия
                <a href="">политики конфинденциальности</a>
            </div>
        </div>
    </div>
</div>
<!--END formblock -->
{% endblock %}
