{% set title = 'Центр сертификации | Главная' %} {% extends 'layouts/_main.html' %} {% block content
%}
<!-- page__head -->
<div class="page__head">
    <div class="container">
        <ul class="bredcrumbs">
            <li><a href="/">Главная</a></li>
            <li class="bredcrumbs__separator">/</li>
            <li><a href="/">Охрана труда</a></li>
        </ul>
        <h1 class="page__head__title">Охрана труда</h1>
        <div class="page__head__btnblock">
            <button class="btn__noborderradius">Сохранить в закладки</button>
            <div class="page__head__social">
                <a href="/">
                    <img src="img/page__head__fb.png" alt="">
                </a>
                <a href="/">
                    <img src="img/page__head__ok.png" alt="">
                </a>
                <a href="/">
                    <img src="img/page__head__vk.png" alt="">
                </a>
            </div>
        </div>
    </div>
</div>
<!--END page__head -->
{% endblock %}