{% set title = 'Центр сертификации | Контакты' %} {% extends
'layouts/_main.html' %} {% block content %}
<!-- search -->
<div class="search">
    <div class="container">
        <ul class="bredcrumbs">
            <li><a href="/">Главная</a></li>
            <li class="bredcrumbs__separator">/</li>
            <li><a href="/">Контакты</a></li>
        </ul>
        <h1 class="search__title">Поиск</h1>
        <form action="/" class="search__form">
            <input class="search__form__input" type="text" />
            <button class="btn__noborderradius">Поиск</button>
        </form>
        <div class="search__results">
            <div class="search__results__title">Результаты поиска:</div>
            <div class="search__results__items">
                <!-- search__results__item -->
                <div class="search__results__item">
                    <a href="" class="search__results__item__title"
                        >Для чего нужно штрихкодирование?</a
                    >
                    <div class="search__results__item__desc">
                        Штрих-коды нужны для поставки товаров в сети, в
                        розничные магазины, при перевозке грузов через таможню,
                        для системы регистрации времени и сбора данных.Это
                        обязательная процедура для производителей, которые хотят
                        поставлять продукцию на национальный и внешней
                        рынки........
                    </div>
                </div>
                <!--END search__results__item -->
                <!-- search__results__item -->
                <div class="search__results__item">
                    <a href="" class="search__results__item__title"
                        >Для чего нужно штрихкодирование?</a
                    >
                    <div class="search__results__item__desc">
                        Штрих-коды нужны для поставки товаров в сети, в
                        розничные магазины, при перевозке грузов через таможню,
                        для системы регистрации времени и сбора данных.Это
                        обязательная процедура для производителей, которые хотят
                        поставлять продукцию на национальный и внешней
                        рынки........
                    </div>
                </div>
                <!--END search__results__item -->
                <!-- search__results__item -->
                <div class="search__results__item">
                    <a href="" class="search__results__item__title"
                        >Для чего нужно штрихкодирование?</a
                    >
                    <div class="search__results__item__desc">
                        Штрих-коды нужны для поставки товаров в сети, в
                        розничные магазины, при перевозке грузов через таможню,
                        для системы регистрации времени и сбора данных.Это
                        обязательная процедура для производителей, которые хотят
                        поставлять продукцию на национальный и внешней
                        рынки........
                    </div>
                </div>
                <!--END search__results__item -->
            </div>
        </div>
    </div>
</div>
<!--END search -->

{% endblock %}
