{% set title = 'Центр сертификации | Стили' %} {% extends 'layouts/_main.html'
%} {% block content %}

<div class="page__textblock">
  <div class="container">
    <h2>Сертификат соответствия ТС EAC: важные особенности</h2>
    <ol>
      <li>Его действие подтверждено на всей территории ТС</li>
      <li>
        Оформить заявку могут: производитель, продавец или представитель
        зарубежного рынка
      </li>
      <li>У бланка единая форма</li>
      <li>Можно оформить партию товаров или серию</li>
      <li>После выдачи документа о качестве, товар маркируется</li>
    </ol>
    <h2>Виды сертификатов таможенного союза EAC.Различают два вида:</h2>
    <ol>
      <li>Соответствие межгосударственным стандартам – ГОСТ;</li>
      <li>Соответствие техническим регламентам ТС.</li>
    </ol>
    <p>
      <strong>Сертификат ТР ТС</strong>, который выдали в России, действует на
      территории других стран-участниц таможенного союза. Единая форма договора
      облегчает сотрудничество пяти государств.
    </p>
    <h2>Как получить сертификат соответствия Таможенного союза?</h2>
    <p>
      Оформить документ можно в сертифицированных центрах, которые подтвердили
      свою деятельность в Службе по аккредитации. Она контролирует и управляет
      выдачу документов по подтверждению качества товаров или услуг.
    </p>
    <p>
      Заказать сертификат соответствия ТС EAC Вы можете у нас,
      аккредитированного центра. Мы оформляем документы качества 7 лет, у нас
      собственная аккредитированная лаборатория, за счет которой работа
      выполняется от 1 дня. Есть филиалы по России. Доставка документов
      бесплатная.
    </p>
    <h2>Продукция, подлежащая сертификации</h2>
    <h3>Для российского изготовителя:</h3>
    <p>
      Перечень товаров, которые обязательно должны пройти сертификацию ГОСТ,
      регламентируются постановлением Правительства РФ от 1 декабря 2009 года
      №982 «Об утверждении единого перечня продукции, подлежащей обязательной
      сертификации, и единого перечня продукции, подтверждение соответствия
      которой осуществляется в форме принятия декларации о соответствии».
      Последняя редакция постановления от 3 марта 2019 года. Изменения перечня
      проходят регулярно – сейчас готовится следующая редакция.
    </p>
    <h3>У нас Вы можете получить:</h3>
    <ul>
      <li>
        ТР ТС 001/2011 «О безопасности железнодорожного подвижного состава»
      </li>
      <li>
        «ТР ТС 002/2011 «О безопасности высокоскоростного железнодорожного
        транспорта»
      </li>
      <li>
        «ТР ТС 003/2011 «О безопасности инфраструктуры железнодорожного
        транспорта»
      </li>
      <li>«ТР ТС 004 / 2011 «О безопасности низковольтного оборудования»</li>
      <li>«ТР ТС 005 / 2011 «О безопасности упаковки»</li>
      <li>«ТР ТС 006/2011 «О безопасности пиротехнических изделий»</li>
      <li>
        «ТР ТС 007 / 2011 «О безопасности продукции, предназначенной для детей и
        подростков»
      </li>
      <li>«ТР ТС 008 / 2011 «О безопасности игрушек»</li>
      <li>
        «ТР ТС 009 / 2011 «О безопасности парфюмерно-косметической продукции»
      </li>
      <li>«ТР ТС 010 / 2011 «О безопасности машин и оборудования»</li>
      <li>«ТР ТС 011 / 2011 «Безопасность лифтов»</li>
      <li>
        «ТР ТС 012 / 2011 «О безопасности оборудования для работы во
        взрывоопасных средах»
      </li>
      <li>
        «ТР ТС 013 / 2011 «О требованиях к автомобильному и авиационному
        бензину, дизельному и судовому топливу, топливу для реактивных
        двигателей и мазуту»
      </li>
      <li>«ТР ТС 014 / 2011 «Безопасность автомобильных дорог»</li>
      <li>«ТР ТС 015 / 2011 «О безопасности зерна»</li>
      <li>
        «ТР ТС 016 / 2011 «О безопасности аппаратов, работающих на газообразном
        топливе»
      </li>
      <li>
        «ТР ТС 017 / 2011 «О безопасности продукции легкой промышленности»
      </li>
      <li>«ТР ТС 018 / 2011 «О безопасности колесных транспортных средств»</li>
      <li>«ТР ТС 019 / 2011 «О безопасности средств индивидуальной защиты»</li>
      <li>
        «ТР ТС 020 / 2011 «Электромагнитная совместимость технических средств»
      </li>
      <li>«ТР ТС 021 / 2011 «О безопасности пищевой продукции»</li>
      <li>«ТР ТС 022 / 2011 «Пищевая продукция в части ее маркировки»</li>
      <li>«ТР ТС 023 / 2011 «На соковую продукцию из фруктов и овощей»</li>
      <li>«ТР ТС 024 / 2011 «На масложировую продукцию»</li>
      <li>«ТР ТС 025 / 2012 «О безопасности мебельной продукции»</li>
      <li>«ТР ТС 026 / 2012 «О безопасности маломерных судов»</li>
      <li>
        «ТР ТС 027 / 2012 «О безопасности отдельных видов специализированной
        пищевой продукции, в том числе диетического лечебного и диетического
        профилактического питания»
      </li>
      <li>
        «ТР ТС 028 / 2012 «О безопасности взрывчатых веществ и изделий на их
        основе»
      </li>
      <li>
        «ТР ТС 029 / 2012 «Требования безопасности пищевых добавок,
        ароматизаторов и технологических вспомогательных средств»
      </li>
      <li>
        «ТР ТС 030 / 2012 «О требованиях к смазочным материалам, маслам и
        специальным жидкостям»
      </li>
      <li>
        «ТР ТС 031 / 2012 «О безопасности сельскохозяйственных и
        лесохозяйственных тракторов и прицепов к ним»
      </li>
      <li>
        «ТР ТС 032 / 2013 «О безопасности оборудования, работающего под
        избыточным давлением»
      </li>
      <li>«ТР ТС 033 / 2013 «О безопасности молока и молочной продукции»</li>
      <li>«ТР ТС 034/2013 «О безопасности мяса и мясной продукции»</li>
    </ul>
    <h3>Для зарубежного изготовителя:</h3>
    <p>
      Импортные товары, которые попадают на территорию Российской Федерации,
      должны обязательно показывать официальные бланки качества. Зарубежному
      изготовителю необходимо предоставить свидетельство ГОСТа и технический
      регламент таможенного союза.
    </p>
    <p>
      Перечень товаров соответствует положению Правительства №982. При этом
      импортеру необходимо получить на свою продукцию код товарной номенклатуры
      внешнеэкономической деятельности (ТНВЭД).
    </p>
    <h2>Сроки действия сертификата ТС EAC</h2>
    <p>
      Есть несколько вариантов. Вы можете выбрать тот, который подходит именно
      Вам:
    </p>
    <ol>
      <li>
        Максимальный срок – 5 лет. Но технология производства сертифицированной
        продукции не должна сильно меняться на протяжении этих лет.
      </li>
      <li>
        Стандартный ТС – от 1 до 3 лет. Выдается на большую часть продукции,
        которая есть в списках сертификации.
      </li>
      <li>
        Свидетельство на одну партию товара. Его удобно использовать, если
        экспортно-импортная сделка единоразовая.
      </li>
    </ol>
    <h2>Преимущества сертификата таможенного союза.</h2>
    <p>Данный сертификат рекомендуется получать по следующим причинам:</p>
    <ul>
      <li>
        Увеличение рынка сбыта производимой продукции за счет 6 стран, входящих
        в это экономическое образование.
      </li>
      <li>
        Привлечение к своей продукции внимания конечного потребителя, который в
        последнее время все больше доверяет знаку качества ЕАС (ЕврАзийского
        Соответствия).
      </li>
      <li>
        Расширение своей дилерской сети за счет предприятий, которые работают
        только с сертифицированными товарными группами.
      </li>
    </ul>
    <h2>Оформление сертификата Таможенного союза ТС ЕАС</h2>
    <p><strong>Оформление проходит в несколько этапов:</strong></p>
    <p>1. Заявитель в обязательном порядке предоставляет:</p>
    <ul>
      <li>Устав юридического лица</li>
      <li>Регистрационные бланки</li>
      <li>
        Нормативно-техническую документацию (для производителей РФ – это ТУ или
        ГОСТ). Согласно им юридическое лицо выпускает товар.
      </li>
    </ul>
    <p>
      2. Заполняет заявление на получение свидетельства. Прикрепляет его к
      пакету документов, которые описаны выше.
    </p>
    <p>
      3. Передает образцы продукции в лабораторию центра для проверки на
      качество. Процедура занимает не больше 2-3 недель.
    </p>
    <p>
      4. Если производство большое, представители сертифицированного центра
      выезжают на место.
    </p>
    <p>
      5. После проверки сертификат соответствия ТС оформляется и выдается
      заказчику.
    </p>
    <h2>Как проверить полученный сертификат Таможенного Союза?</h2>
    <p>
      Технические регламенты таможенного союза позволяют проверить сертификат
      любому заинтересованному лицу за несколько минут.
    </p>
    <p>
      Удостоверение вносится в общи реестр зарегистрированных документов о
      качестве. Его можно найти на сайте Федеральной службы по аккредитации.
    </p>
    <h3>Можно проверить подлинность:</h3>
    <ol>
      <li>Декларации о соответствии ТС</li>
      <li>Декларации о соответствии ГОСТ</li>
      <li>Сертификат качества ТС</li>
      <li>Аккредитацию центра по выдаче удостоверения</li>
      <li>Аккредитацию лаборатории, где проходили исследования</li>
    </ol>
    <p>
      Сертификация таможенного союза – важный документ, с которым Ваша торговая
      деятельность станет проще и прибыльнее. Чтобы получить сертификат,
      оставляйте заявку на сайте или звоните по телефону!
    </p>
  </div>
</div>

{% endblock %}
